.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#root {
  height: 100vh;
  /*background-color:rgb(88,199,237);*/
  background: radial-gradient(70% -40%, circle,  #58c7ed 0%,#58c7ed 47%,#58c7ed 65%,#16A3DA 47%,#16A3DA 48%)
}

.tablue {
  padding: 20px;
}

.circle{
   background: radial-gradient(ellipse at center,  #f73134 0%,#ff0000 47%,#ff0000 47%,#23bc2b 47%,#23bc2b 48%);
}